<app-header></app-header>
<p-toast position="top-right">
</p-toast>
<form (ngSubmit)="OnAddUser()" #registrationForm="ngForm">
    <div class="container">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <div class="addnewUser">Add New User</div>
        </div>

        <div>
            <label for="name" >Name</label>
            <input id="name" type="text"#name="ngModel" placeholder="Name" pInputText class="w-full mb-3" name="name" ngModel>
            <div *ngIf="!name.dirty && name.touched"><small>*Name is required</small></div>

            <label for="email">Email</label>
            <input id="email" #email="ngModel" type="text" placeholder="Email address" pInputText class="w-full mb-3" name="email" ngModel>
            <div *ngIf="!email.dirty && email.touched"><small>*Email is required</small></div>

            <label for="username">Username</label>
            <input id="username" #username="ngModel" type="text" placeholder="Username" pInputText class="w-full mb-3" name="username" ngModel>
            <div *ngIf="!username.dirty && username.touched"><small>*Username is required</small></div>

            <label for="password1">Password</label>
            <input id="password1" #password="ngModel" type="password" placeholder="Password" pInputText class="w-full mb-3" name="password" ngModel>
            <div *ngIf="!password.dirty && password.touched"><small>*Password is required</small></div>

            <label for="password2">Confirm Password</label>
            <input id="password2" type="password" #confirmPassword="ngModel" placeholder="Password" pInputText class="w-full mb-3" name="confirmPassword" ngModel>
            <div *ngIf="!confirmPassword.dirty && confirmPassword.touched"><small>*Confirm Password is required</small></div>


        <label for="role" class="mb-2">Type of user:</label>
   
        <div class="flex flex-wrap gap-3 m-3">
            <div class="flex align-items-center  ">
                <p-radioButton name="admin" value="admin" [(ngModel)]="role" ngModel></p-radioButton>
                <label for="admin" class="ml-2 font-medium">Admin</label>
            </div>

            <div class="flex align-items-center">
                <p-radioButton name="customer" value="customer" [(ngModel)]="role"  ngModel></p-radioButton>
                <label for="customer" class="ml-2 font-medium">Customer</label>
            </div>

            <div class="flex align-items-center">
                <p-radioButton name="organizer" value="organizer" [(ngModel)]="role" ngModel></p-radioButton>
                <label for="organizer" class="ml-2 font-medium">Organizer</label>
            </div>
            
            
        </div>

            <button pButton  pRipple label="Add User" icon="pi pi-user" class="w-full button-size" [disabled]="!registrationForm.dirty"></button>
        </div>
    </div>
    </div>
</form>