<!-- <app-header></app-header>
<p-table [value]="customers" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Username</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>{{ customer.name }}</td>
      <td>{{ customer.username }}</td>
      <td>{{ customer.email }}</td>
    </tr>
  </ng-template>
</p-table> -->

<app-header></app-header>

<div class="container">
  <h2 class="text-center mb-4 heading-style">Customers: </h2>
  <table class="table table-bordered m-50" style="min-width: 50rem;">
    <thead style="background-color: red; color: white;">
      <tr>
        <th class="text-center">S. No.</th>
        <th class="text-center">Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Username</th>
        <th class="text-center" >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers; index as i">
        <td class="text-center">{{i+1}}</td>
        <td class="text-center">{{ customer.name }}</td>
        <td class="text-center">{{ customer.email }}</td>
        <td class="text-center">{{ customer.username }}</td>
        <td class="text-center">
          <button pButton label="Delete" class="button-size" (click)="OnDeleteCustomer(customer.identityUserId)" ></button>
          <div *ngIf="showDeleteDialog">
            <p-dialog  [(visible)]="showDeleteDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
              <p class="m-0">
                <label for="numberOfTickets" class="dialog-label mb-2 block">Are you sure you want to delete the customer?</label>
                <button pButton label="Yes" class="mr-2 button-size-dialog" (click)="DeleteCustomer()"></button>
                <button pButton label="No" class="mr-1 button-size-dialog" (click)="CancelDeleteCustomer()"></button>
              </p>
            </p-dialog>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
