<form (ngSubmit)="OnRegister()" #registrationForm="ngForm">
    <div class="container">

    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <div class="logo mb-1 mt-5">Book My Show</div>
            <span class="text-600 font-medium line-height-3">Already have an account?</span>
            <a class="font-medium no-underline ml-2 text-red-500 cursor-pointer" routerLink="/auth/login">Login Here!</a>
        </div>

        <div>
            <label for="name" >Name</label>
            <input id="name" type="text" #name="ngModel" placeholder="Name" pInputText class="w-full mb-3" name="name" ngModel>
            <div *ngIf="!name.dirty && name.touched"><small>*Name is required</small></div>

            <label for="email">Email</label>
            <input id="email" type="text" #email="ngModel" placeholder="Email address" pInputText class="w-full mb-3" name="email" ngModel>
            <div *ngIf="!email.dirty && email.touched"><small>*Email is required</small></div>

            <label for="username">Username</label>
            <input id="username" type="text" #username="ngModel" placeholder="Username" pInputText class="w-full mb-3" name="username" ngModel>
            <div *ngIf="!username.dirty && username.touched"><small>*Username is required</small></div>

            <label for="password1" >Password</label>
            <input id="password1" #password="ngModel" type="password" placeholder="Password" pInputText class="w-full mb-3" name="password" ngModel>
            <div *ngIf="!password.dirty && password.touched"><small>*Password is required</small></div>

            <label for="password2" >Confirm Password</label>
            <input id="password2" #confirmPassword="ngModel" type="password" placeholder="Password" pInputText class="w-full mb-3" name="confirmPassword" ngModel>
            <div *ngIf="!confirmPassword.dirty && confirmPassword.touched"><small>*Confirm Password is required</small></div>
           

            <button pButton pRipple label="Sign Up" icon="pi pi-user" class="w-full button-size" type="submit" [disabled]="!registrationForm.dirty"></button>
        </div>
    </div>
   </div>
</form>
