<app-header></app-header>

<div class="homepage-container">
  <div class="background-image"></div>
  <div class="content">
    <h1 class="mb-3">Welcome to BookMyShow</h1>
    <p>Experience the best in entertainment</p>
    <div class="buttons">
      <button pButton class="button-size mr-3 p-button-rounded" routerLink="auth/register" *ngIf="!authService.isAuthenticated()">Register</button>
      <button pButton class="button-size p-button-rounded" routerLink="auth/login" *ngIf="!authService.isAuthenticated()">Login</button>
    </div>
  </div>
</div>


<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center mt-4">
  <div class="mb-3 font-bold text-3xl">
      <span class="title">One Product, </span>
      <span class="title-red">Many Solutions</span>
  </div>
  <div class="text-900 mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div>
  <div class="grid mt-8">
     
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-lock text-4xl text-red-500"></i>
          </span>
          <div class="text-900 text-4xl mb-3 font-medium">End-to-End Encryption</div>
          <span class="text-900 line-height-3">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin aliquam ultrices sagittis.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-check-circle text-4xl text-red-500"></i>
          </span>
          <div class="text-900 text-4xl mb-3 font-medium">Easy to Use</div>
          <span class="text-900 line-height-3">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</span>
      </div>   
      <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-shield text-4xl text-red-500"></i>
          </span>
          <div class="text-900 text-4xl mb-3 font-medium">Trusted Security</div>
          <span class="text-900 line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</span>
      </div>
  </div>
</div>


<div class="bg-red-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
  <div class="font-bold mr-8">🔥 Hot Deals!</div>
  <div class="align-items-center hidden lg:flex">
      <span class="line-height-3">Libero voluptatum atque exercitationem praesentium provident odit.</span>
  </div>
  <a class="flex align-items-center ml-2 mr-8">
      <a class="text-white" href="#"><span class="underline font-bold">Learn More</span></a>
  </a>
  <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
      <i class="pi pi-times"></i>
  </a>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
      <div class="text-6xl font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD</div>
      <div class="text-5xl font-bold  mb-3">Join Our Design Community</div>
      <div class="text-2xl mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div>
      <button pButton pRipple label="Join Now" icon="pi pi-discord" class="font-bold px-5 py-3 button-size p-button-rounded white-space-nowrap"></button>
  </div>
</div>
<hr>
<div class="container pb-20">
<div class="send-message-section">
  <h2 class="red-heading text-5xl ">Send Message</h2>
  <form class="message-form">
    <textarea placeholder="Type your message here..."></textarea>
    <button pButton class="button-size p-button-rounded mt-2" type="submit">Send</button>
  </form>
</div>
</div>


